* {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 400px;
    align-items: center;
}

.pageTitle {
    font-size: 40px;
    color: #183354;
    font-family: serif;
    font-weight: 200px;


}